* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
    box-sizing: border-box;
}


h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

body {
    background-color: white;
    transition: all 1s ease;
}

.dark-mode{
    background-color: black;
    color: white;
    transition: all 1s ease;
}

.dark-mode .bar {
    background-color: white;
}

.dark-mode nav {
    background-color: black;
    transition: all 1s ease;
}

.dark-mode button:hover {
    color: black;
}

.dark-mode textarea {
    color: white;
}

.dark-mode input {
    color: white;
}

.dark-mode .main-section #eight > div > a:hover {
    color: black;
}

.section-title{
    margin-left: 10%;
    padding-bottom: 2em;
    padding-top: 2em;
}

/* Navigation Bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    transition: all 1s ease;
    z-index: 1000;
    background-color: #e3fcf8;
}

.nav-container {
    display: flex;
}

.darkmode-btn {
    border-radius: 1em;
    padding: 0.5em;
    background-color: transparent;
    border: 1px solid #2FD9B9;
    color: #2FD9B9;
    cursor: pointer;
    transition: all 1s;
}

.darkmode-btn:hover{
    background-color: #2FD9B9;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: #2FD9B9;
    transition: all 2s;
    font-weight: 800;
}

.nav-link:hover {
    color: black;
}

.logo-title{
    display: flex;
    align-items: center;
}

.site-logo {
    height: 3em;
    width: 3em;
    transition: all 1s ease;
    animation: tilt;
    animation-delay: 1s;
    animation-duration: 4s;
}

@keyframes tilt{
    from {
        transform: rotate(0turn);
    }
    50% {
        transform: rotate(0.1turn);
    }
    to {
        transform: rotate(0turn);
    }
}


.site-logo:hover {
    transform: rotate(0.1turn);
}


.nav-title {
    font-size: 2em;
}

.navigation { 
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    z-index: 999;
}

.navitem {
    list-style: none;
}

.nav-link {

}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger:hover {
    .bar{
        background-color: #2FD9B9;
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* responsive tablet */

@media only screen and (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation {
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #e3fcf8;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: 1px solid #2FD9B9;
    }

    .navitem {
        margin: 16px 0;
    }

    .navigation.active{
        left: 0;
    }

    .dark-mode .navigation{
        background-color: black;
        transition: all 1s ease;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        gap: 2em;
    }

    .grid-item {
        height: 250px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

/* responsive mobile */

@media only screen and (max-width: 425px) {
    .site-logo {
        height: 2.5em;
        width: 2.5em;
    }

    .nav-title{
        font-size: 1.5em;
    }

    .navigation {
        font-size: 0.75em;
    }

    .darkmode-btn{
        padding: 0.25em;
        
    }

    h1 {
        font-size: 1em;
    }
    


    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.75em;
    }

    .card-img {
        height: 100px;
    }

    .card-title {
        font-size: 1em;
    }

    .description{
        font-weight: 200;
    }

    nav {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}


/* logo scroll */

.countries {
    overflow: hidden;
    padding: 3em 0;
    white-space: nowrap;
}

.countries:hover .flags-slide {
    animation-play-state: paused;
}

.flags-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.flags-slide > img {
    height: 5em;
    margin: 0 3em;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/* Hero page */

.hero {
    width: 100%;
    height: 65vw;
}

.hero-content {
    padding-top: 15vw;
    font-size: 2em;
    text-align: center;
}

.hero-content > h1 {
    color: white;
    text-shadow: 5px 5px 10px black;
}

.hero-button {
    height: 2em;
    width: 10em;
    background-color: transparent;
    border-radius: 2em;
    font-size: 0.5em;
    font-weight: 800;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 0.75em 2em;
}

.hero-button:hover {
    color: #2FD9B9;
    background-color: white;
}

.video-back{
    width: 100%;
    position: absolute;
    z-index: -2;
}


/* about page */

.about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: ;
    margin-inline: 1.5em;
}

.about-content{
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

.about-content > img {
    width: 80%;
}

/* gallery page */

.gallery {
    padding-bottom: 4em;
}

@media only screen and (min-width:769px) {
    .grid-container {
        display: grid;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 350px 350px;
        gap: 0.25em;
    }

    .card {
        flex-basis: 50%;
        flex-shrink: 0;
    }

    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4em 4em 10em;
        gap: 2em;
    }
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-decoration: none;
    color: transparent;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

.grid-item:hover {
    text-decoration: none;
    color: white;
    font-size: 1.75em;
    filter: none;
    text-shadow: 5px 5px 5px black;

}

.grid-container #item1 {
    grid-row: 1;
    grid-column: 1 / 2 span;
    background-image: url(/assets/newyork.jpg);
    background-position: center;
    background-size: cover;
}

.grid-container #item2 {
    grid-row: 1;
    grid-column: 2 span;
    background-image: url(https://media.istockphoto.com/id/1390815938/id/foto/kota-tokyo-di-jepang.jpg?s=612x612&w=0&k=20&c=a5nwnVUU62XkrX0o8B_0W7_JBdYzcKIONtC6vkCE9xI=);
    background-position: center;
    background-size: cover;
}

.grid-container #item3 {
    grid-row: 2;
    grid-column: 1;
    background-image: url(https://images.pexels.com/photos/3879071/pexels-photo-3879071.jpeg?cs=srgb&dl=pexels-alex-azabache-3879071.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

.grid-container #item4 {
    grid-row: 2;
    grid-column: 2 span;
    background-image: url(https://i.pinimg.com/originals/ec/6c/44/ec6c44dddc98ad1bc6b199c1c6331720.jpg);
    background-position: center;
    background-size: cover;
}

.grid-container #item5 {
    grid-row: 3;
    grid-column: 1 / 2 span;
    background-image: url(https://www.frommers.com/system/media_items/attachments/000/863/732/s980/Innsbruck.jpg?1547824680);
    background-position: center;
    background-size: cover;
}

.grid-container #item6 {
    grid-row: 3;
    grid-column: 2 span;
    background-image: url(https://cdn.britannica.com/30/180130-138-4FC01CDD/Overview-Amsterdam.jpg?w=800&h=450&c=crop);
    background-position: center;
    background-size: cover;
}

/* Tours */

.tours {
    padding-bottom: 4em;
}

.card-container {
    display: flex;
    overflow-x: auto;
    width: 80%;
    margin-left: 10%;
    gap: 2em;
}

.card {

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2em;
    border-radius: 1em;
    gap: 0.5em;
    border: 2px solid #2FD9B9;
    justify-content: space-evenly;
}

.card-img {
    width: 100%;
    max-height: 350px;
    min-height: 150px;
    object-fit: cover;
    border-radius: 1em;
}

.card-title {
    font-weight: 600;
}

.price {
    font-weight: 400;
}

.description {
    color: grey;
}

.card-button {
    display: flex;
    padding: 1em;
    background-color: transparent;
    width: 100%;
    height: 4em;
    border-radius: 1em;
    border: 1px solid #2FD9B9;
    cursor: pointer;
    color: #2FD9B9;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.card-button:hover {
    background-color: #2FD9B9;
    color: white;
}

/* contact us */

.contact {
    padding-bottom: 4em;
}


.form-container {
    width:80%;
    margin-left: 10%;
    border: 1px solid #2FD9B9;
    padding: 1.5em;
    border-radius: 1em;
}

.form-container > h3 {
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.form-container > p {
    color: grey;
    padding-bottom: 1em;
}

.field {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 0.5em;
}

.field > input {
    height: 3em;
    width: 100%;
    border: 1px solid #2FD9B9;
    border-radius: 1em;
    padding: 1em;
    background-color: transparent;
}

.field > textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #2FD9B9;
    border-radius: 1em;
    padding: 1em;
    background-color: transparent;
}


form #field5 {
    grid-row: 3;
    grid-column: 1 / 3;
}

/* footer */
footer {
    width: 100%;
    height: 5em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #2FD9B9;
    color: white;
}

/* individual travel pages */

@media only screen and (min-width: 768px) {
    .main-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px;
    }
}

@media only screen and (max-width: 767px) {
    .main-section {
        display: flex;
        flex-direction: column;
    }
}

.main-section > div {
    height: 400px;
    padding: 1em;
}

.main-section > #one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.grid-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.main-section #eight {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    padding-inline: 2em;
    padding-top: 6em;
    gap: 2em;
}

.grid-block {
    background-size: cover;
    background-position: center;
}

.main-section #two-ams {
    background-image: url(/assets/rijksmuseum.jpg);
}

.main-section #three-ams {
    background-image: url(https://www.sncf-connect.com/assets/media/2022-05/tulipes-amsterdam.jpg);
}

.main-section #four-ams {
    background-image: url(https://i.pinimg.com/originals/78/5f/be/785fbe7846221a220a0869622f27da52.jpg);
}

.main-section #five-ams {
    background-image: url(https://www.cathaypacific.com/content/dam/focal-point/cx/inspiration/2023/06/5-ways-to-explore-Amsterdam-by-bike-cycling-route-holland-netherland-Gettyimages-HERO.jpg);
}

.main-section #six-ams {
    background-image: url(https://a.cdn-hotels.com/gdcs/production198/d1107/2fc491e5-bf01-474b-9a0e-048eef1af0c8.jpg);
}

.main-section #seven-ams {
    background-image: url(https://www.thetrainline.com/cms/media/9166/netherlands-amsterdam-beer.jpg);
}

.main-section #eight > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section #eight > div > p {
    font-size: 1.2em;
}


.main-section #eight > div > a {
    border: 1px solid #2FD9B9;
    border-radius: 1em;
    padding: 1em;
    text-decoration: none;
    color: #2FD9B9;
    text-align: center;
    font-size: 0.75em;
}

.main-section #eight > div > a:hover {
    background-color: #2FD9B9;
    color: white;
    transition: all 1s;
}

.main-section #two-tky {
    background-image: url(/assets/fuji.jpg);
}

.main-section #three-tky {
    background-image: url(https://goingawesomeplaces.com/wp-content/uploads/2018/04/Ultimate-Tokyo-Japan-Food-Guide-Featured.jpg);
}

.main-section #four-tky {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Tokyo_Shibuya_Scramble_Crossing_2018-10-09.jpg/640px-Tokyo_Shibuya_Scramble_Crossing_2018-10-09.jpg);
}

.main-section #five-tky {
    background-image: url(https://tdrexplorer.com/wp-content/uploads/2023/05/tokyo-disneyland-trip-planning-guide-2023.jpg);
}

.main-section #six-tky {
    background-image: url(https://i0.wp.com/tokyotreatblog.wpcomstaging.com/wp-content/uploads/2022/12/tokyotreat_cosplay.png?resize=620%2C414&ssl=1);
}

.main-section #seven-tky {
    background-image: url(https://d.newsweek.com/en/full/1506288/nightclub.jpg);
}

.main-section #two-bali {
    background-image: url(/assets/party.webp);
}

.main-section #three-bali {
    background-image: url(https://thehoteljournal.com/wp-content/uploads/2020/04/best-hotel-swimming-pools-Hanging-Gardens-of-Bali-.jpg);
}

.main-section #four-bali {
    background-image: url(https://i0.wp.com/worldadventuredivers.com/wp-content/uploads/2020/11/IMG_6359.jpg?fit=1100%2C760&ssl=1);
}

.main-section #five-bali {
    background-image: url(https://www.theungasan.com/wp-content/uploads/2023/07/la-plancha.jpg);
}

.main-section #six-bali {
    background-image: url(https://www.bulgarihotels.com/.imaging/bhr-wide-big-jpg/dam/BALI/WHAT-S-ON/IN-BALI/May20IMGCut.zip/6.jpg/jcr%3Acontent);
}

.main-section #seven-bali {
    background-image: url(https://www.willflyforfood.net/wp-content/uploads/2022/10/balinese-food-nasi-campur-bali.jpg.webp);
}

.main-section #two-nyc {
    background-image: url(/assets/broadwayny.jpg);
}

.main-section #three-nyc {
    background-image: url(https://executivelimousine.org/wp-content/uploads/2017/05/Black_Friday_Shopping_NYC.jpg);
}

.main-section #four-nyc {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a6/New-York_-_Bryant_Park.jpg);
}

.main-section #five-nyc {
    background-image: url(https://s3.r29static.com/bin/entry/1b9/x,80/1735244/image.jpg);
}

.main-section #six-nyc {
    background-image: url(https://thenextcocktail.com/wp-content/uploads/2023/11/5-Must-try-New-York-NY-drinks-your-guide-to-the-best-cocktails-in-town-5.jpeg);
}

.main-section #seven-nyc {
    background-image: url(https://share.america.gov/wp-content/uploads/2016/01/New-York-City-skyline-at-night-ThinkstockPhotos-178735930.jpg);
}