* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
    box-sizing: border-box;
}


h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

body {
    background-color: white;
    transition: all 1s ease;
}

.dark-mode{
    background-color: black;
    color: white;
    transition: all 1s ease;
}

.dark-mode .bar {
    background-color: white;
}

.dark-mode nav {
    background-color: black;
    transition: all 1s ease;
}

.dark-mode button:hover {
    color: black;
}

.dark-mode textarea {
    color: white;
}

.dark-mode input {
    color: white;
}

.section-title{
    margin-left: 10%;
    padding-bottom: 2em;
    padding-top: 2em;
}

/* Navigation Bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    transition: all 1s ease;
    z-index: 1000;
}

.nav-container {
    display: flex;

}

.darkmode-btn {
    border-radius: 1em;
    padding: 0.5em;
    background-color: transparent;
    border: 1px solid #2FD9B9;
    color: #2FD9B9;
    cursor: pointer;
    transition: all 1s;
}

.darkmode-btn:hover{
    background-color: #2FD9B9;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: #2FD9B9;
    transition: all 2s;
    font-weight: 800;
}

.nav-link:hover {
    color: black;
}

.logo-title{
    display: flex;
    align-items: center;
}

.site-logo {
    height: 3em;
    width: 3em;
    transition: all 1s ease;
    animation: tilt;
    animation-delay: 1s;
    animation-duration: 4s;
}

@keyframes tilt{
    from {
        transform: rotate(0turn);
    }
    50% {
        transform: rotate(0.1turn);
    }
    to {
        transform: rotate(0turn);
    }
}


.site-logo:hover {
    transform: rotate(0.1turn);
}


.nav-title {
    font-size: 2em;
}

.navigation { 
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    z-index: 999;
}

.navitem {
    list-style: none;
}

.nav-link {

}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger:hover {
    .bar{
        background-color: #2FD9B9;
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media only screen and (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: 1px solid #2FD9B9;
    }

    .navitem {
        margin: 16px 0;
    }

    .navigation.active{
        left: 0;
    }

    .dark-mode .navigation{
        background-color: black;
        transition: all 1s ease;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        gap: 2em;
    }

    .grid-item {
        height: 250px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

}

/* logo scroll */

.countries {
    overflow: hidden;
    padding: 3em 0;
    white-space: nowrap;
}

.countries:hover .flags-slide {
    animation-play-state: paused;
}

.flags-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.flags-slide > img {
    height: 5em;
    margin: 0 3em;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Hero page */

.hero {
    width: 100%;
    height: 65vw;
}

.hero-content {
    padding-top: 15vw;
    font-size: 2em;
    text-align: center;
}

.hero-content > h1 {
    color: white;
    text-shadow: 5px 5px 10px black;
}

.hero-button {
    height: 2em;
    width: 10em;
    background-color: transparent;
    border-radius: 2em;
    font-size: 0.5em;
    font-weight: 800;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 0.75em 2em;
}

.hero-button:hover {
    color: #2FD9B9;
    background-color: white;
}

.video-back{
    width: 100%;
    position: absolute;
    z-index: -2;
}


/* about page */

.about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: ;
    margin-inline: 1.5em;
}

.about-content{
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

.about-content > img {
    width: 80%;
}

/* gallery page */

.gallery {
    padding-bottom: 4em;
}

@media only screen and (min-width:769px) {
    .grid-container {
        display: grid;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 350px 350px;
        gap: 0.25em;
    }

    .card {
        flex-basis: 50%;
        flex-shrink: 0;
    }

    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4em 4em 10em;
        gap: 2em;
    }
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-decoration: none;
    color: transparent;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

.grid-item:hover {
    text-decoration: none;
    color: white;
    font-size: 1.75em;
    filter: none;
    text-shadow: 5px 5px 5px black;

}

.grid-container #item1 {
    grid-row: 1;
    grid-column: 1 / 2 span;
    background-image: url(/assets/newyork.jpg);
    background-position: center;
    background-size: cover;
}

.grid-container #item2 {
    grid-row: 1;
    grid-column: 2 span;
    background-image: url(https://media.istockphoto.com/id/1390815938/id/foto/kota-tokyo-di-jepang.jpg?s=612x612&w=0&k=20&c=a5nwnVUU62XkrX0o8B_0W7_JBdYzcKIONtC6vkCE9xI=);
    background-position: center;
    background-size: cover;
}

.grid-container #item3 {
    grid-row: 2;
    grid-column: 1;
    background-image: url(https://images.pexels.com/photos/3879071/pexels-photo-3879071.jpeg?cs=srgb&dl=pexels-alex-azabache-3879071.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

.grid-container #item4 {
    grid-row: 2;
    grid-column: 2 span;
    background-image: url(https://i.pinimg.com/originals/ec/6c/44/ec6c44dddc98ad1bc6b199c1c6331720.jpg);
    background-position: center;
    background-size: cover;
}

.grid-container #item5 {
    grid-row: 3;
    grid-column: 1 / 2 span;
    background-image: url(https://www.frommers.com/system/media_items/attachments/000/863/732/s980/Innsbruck.jpg?1547824680);
    background-position: center;
    background-size: cover;
}

.grid-container #item6 {
    grid-row: 3;
    grid-column: 2 span;
    background-image: url(https://cdn.britannica.com/30/180130-138-4FC01CDD/Overview-Amsterdam.jpg?w=800&h=450&c=crop);
    background-position: center;
    background-size: cover;
}

/* Tours */

.tours {
    padding-bottom: 4em;
}

.card-container {
    display: flex;
    overflow-x: auto;
    width: 80%;
    margin-left: 10%;
    gap: 2em;
}

.card {

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2em;
    border-radius: 1em;
    gap: 0.5em;
    border: 2px solid #2FD9B9;
    justify-content: space-evenly;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1em;
}

.card-title {
    font-size: 1.5em;
    font-weight: 600;
}

.price {
    font-size: 1.2em;
    font-weight: 400;
    text-align: ;
}

.description {
    font-weight: 400;
    color: grey;
}

.card-button {
    padding: 1em;
    background-color: transparent;
    width: 100%;
    height: 4em;
    border-radius: 1em;
    border: 1px solid #2FD9B9;
    cursor: pointer;
    color: #2FD9B9;
    font-weight: 600;
    font-size: 1em;
}

.card-button:hover {
    background-color: #2FD9B9;
    color: white;
}

/* contact us */

.contact {
    padding-bottom: 4em;
}


.form-container {
    width:80%;
    margin-left: 10%;
    border: 1px solid #2FD9B9;
    padding: 1.5em;
    border-radius: 1em;
}

.form-container > h3 {
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.form-container > p {
    color: grey;
    padding-bottom: 1em;
}

.field {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 0.5em;
}

.field > input {
    height: 3em;
    width: 100%;
    border: 1px solid #2FD9B9;
    border-radius: 1em;
    padding: 1em;
    background-color: transparent;
}

.field > textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #2FD9B9;
    border-radius: 1em;
    padding: 1em;
    background-color: transparent;
}


form #field5 {
    grid-row: 3;
    grid-column: 1 / 3;
}

/* footer */
footer {
    width: 100%;
    height: 5em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #2FD9B9;
    color: white;
}